@page "/add"
@rendermode InteractiveWebAssembly
@inject ProductSevice service
@inject NavigationManager nav

<h3>CategoryAdd</h3>



<EditForm Model="model" OnValidSubmit="SaveData">
	<DataAnnotationsValidator />
	<ValidationSummary />
	@if (!string.IsNullOrEmpty(message))
	{
		<span class="text-danger text-lg-center">@message</span>
	}
	<div>
		<label for="name">Name:</label>
		<InputText id="name" class="form-control" required @bind-Value="model.Name" />
		<ValidationMessage For="()=> model.Name" />
	</div>

	<table class="table table-active table-bordered table-hover">
		<tr>
			<th>Product Name</th>
			<th>Product Number</th>
			<th>Color</th>
			<th>MFD</th>
			<th>Standard Cost</th>
			<th>List Price</th>
			<th>Size</th>
			<th>Weight</th>
			<th>Available?</th>
			<th>
				<button type="button" class="btn btn-outline-info" @onclick="AddProduct">Add Product</button>
			</th>
		</tr>
		@foreach (var prod in model.Products)
		{
			<tr>
				<td>
					<InputText class="form-control" @bind-Value="prod.Name" />
					<ValidationMessage For="()=> prod.Name" />
				</td>
				<td>
					<InputText class="form-control" @bind-Value="prod.ProductNumber" />
					<ValidationMessage For="()=> prod.ProductNumber" />
				</td>
				<td>
					<InputText class="form-control" @bind-Value="prod.Color" />
					<ValidationMessage For="()=> prod.Color" />
				</td>
				<td>
					<InputDate @bind-Value="prod.MFD" />
					<ValidationMessage For="()=> prod.MFD" />
				</td>
				<td>
					<InputNumber class="form-control" @bind-Value="prod.StandardCost" />
					<ValidationMessage For="()=> prod.StandardCost" />
				</td>
				<td>
					<InputNumber class="form-control" @bind-Value="prod.ListPrice" />
					<ValidationMessage For="()=> prod.ListPrice" />
				</td>

				<td>
					<InputNumber class="form-control" @bind-Value="prod.Size" />
					<ValidationMessage For="()=> prod.Size" />
				</td>

				<td>
					<InputNumber class="form-control" @bind-Value="prod.Weight" />
					<ValidationMessage For="()=> prod.Weight" />
				</td>
				<td>
					<InputCheckbox @bind-Value="prod.Available" />
					<ValidationMessage For="()=> prod.Available" />
				</td>
				<td>
					<button type="button" class="btn btn-outline-warning" @onclick="()=> DeleteProduct(prod)">Delete</button>
				</td>
			</tr>


		}
	</table>

	<button type="submit" class="btn btn-outline-success">
		Save
	</button>
	<NavLink class="btn btn-outline-info" href="cat">
		Cancel
	</NavLink>
</EditForm>





@code {





	private ProductCategory model = new ProductCategory();
	int index = 0;


	string? message;

	public async Task SaveData()
	{
		var response = await service.Save(model);

		if (response.IsSuccessStatusCode)
		{
			nav.NavigateTo("/cat");
		}
		else
		{
			this.message = response.ReasonPhrase;
			//response.Content
		}
	}

	private void AddProduct()
	{
		model.Products?.Add(new Product());
	}
	private void DeleteProduct(Product item)
	{
		model.Products?.Remove(item);

	}

}
